<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:form="http://www.springframework.org/tags/form">
<head>
<meta charset="UTF-8">
<title>BTP400 A2</title>
<link th:href="@{/signin.css}" rel="stylesheet" />
</head>
<body>
	<h2>BTP400 A2</h2>
	<p>
		by <span th:text="${group}"></span>
	</p>
	<br />
	<br>
	<a href="wallet">Login</a>
</body>
</html>