<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:form="http://www.springframework.org/tags/form">
<head>
<meta charset="UTF-8">
<title>Wallet</title>
<link th:href="@{/signin.css}" rel="stylesheet" />
</head>
<body>
	<a href="wallet">Return</a>
	<h2>Send Money</h2>
	Balance:
	<span th:text="${balAmt}"></span>
	<br>
	<br>
	<form name="sentMoney" th:action="@{/sentMoney}" method="post">
		<label>Send To: </label> <input type='text' name='sendTo'
			th:value="${sendTo}" id="field" /> <br> <label>Amount: </label>
		<input type='text' name='amount' th:value="${amount}" id="field" /> <br>
		<br> <input type="submit" value="Send" class="btn" id="btn">
	</form>
</body>
</html>