<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:form="http://www.springframework.org/tags/form">
<head>
<meta charset="UTF-8">
<title>Wallet</title>
<link th:href="@{/signin.css}" rel="stylesheet" />
</head>
<body>
	<br>
	<a href="logout"><button id="btn1">Logout</button></a>
	<br>
	<br>
	
	<table>
	<tr>
		<td>Public Address:</td>
		<td><a
			th:href="@{'https://creeper.banano.cc/explorer/account/' + ${publicAddr}}" th:text="${publicAddr}" target=_blank></a></td>
		<td rowspan = "3"><img th:src="${qrImg}"></img></td>
	</tr>
	<tr>
		<td>Account Number:</td>
		<td><span th:text="${accNo}"></span></td>
	</tr>
	<tr>
		<td>Balance:</td>
		<td><span th:text="${balAmt}"></span></td>
	</tr>
	</table> 
	<br />
	<br />
	<br />
	<a href="send"><button id="btn0"> Send Money</button></a> 
	<a href="wallet"><button id="btn1">Refresh</button></a>
</body>
</html>