@CHARSET "ISO-8859-1";
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Nunito&display=swap');
h2 {
    font-size: 30pt;
    font-family: 'Nunito', sans-serif;
}

#btn {
	font-size: 16px;
	background-color: #FF3C3C;
	border-radius: 5px;
	width: 250px;
	height: 40px;
	color: white;
}
#field {
	width: 250px;
	height: 40px;
}
body{
	font-family: 'Nunito', sans-serif;
	font-size: 16pt;
	background-color: #EAEAEA;
}
