@CHARSET "ISO-8859-1";
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Nunito&display=swap');
h2 {
    font-size: 30pt;
    font-family: 'Nunito', sans-serif;
}

#btn {
	font-size: 16px;
	background-color: #5FE274;
	border-radius: 5px;
	width: 300px;
	height: 40px;
	color: white;
	padding-bottom: 4px;
	padding-top: 4px;
}
#btn0 {
	font-size: 16px;
	background-color: #5FE274;
	border-radius: 5px;
	width: 180px;
	height: 40px;
	color: black;
	padding-bottom: 4px;
	padding-top: 4px;
}
#btn1 {
	font-size: 16px;
	background-color: #D8D8D8;
	border-radius: 5px;
	width: 180px;
	height: 40px;
	color: black;
	padding-bottom: 4px;
	padding-top: 4px;
}

#field {
	width: 250px;
	height: 40px;
}
body{
	font-family: 'Nunito', sans-serif;
	font-size: 16pt;
	margin: auto;
	width: 70%;
}
